// Common Colors
$primaryCommColor: #D6001C;

// Header Colors
$primaryMainColor: #FFFFFF;
$primaryNavColor: #F1EEE5;
$otherNavColor: #C4051E;

// Main Colors
$typoMainColor: #2C2C2C;
$mainBgColor: #fcf9f1;
$selectColor: #cac7c1;

// Footer Colors
$primaryBgColor: #030909;
$secondaryBgColor: #1c2121;
$otherBgColor: #333333;
$otherColor: #C4C4C4;